# 4주차 라이브세션!

## API?
- 한 프로그램에서 다른 프로그램을 사용하기 위한 인터페이스

ex. 구글 캘린더

- API Document

![Alt text](image-2.png)

## DBMS
- Database : **정돈된** 데이터를 보관하는 저장소
- **DBMS**(Database Manegemenet System) : 데이터베이스 관리 시스템

- RDB(Relational Database) : 테이블의 형태를 통해 관계를 나타내는 데이터베이스 - Table형태

![Alt text](image-3.png)

---

#### Relational(정형화됨) Vs Non-Relational : 정형화되어 있는지?

- 정형화된 데이터 Relational data

    - key-value형태의 접근 (데이터 명세가 좋다.)
    - 데이터가 **Spare**하다면 찾아내기 불편할 수 있다.

- 비정형 데이터 Document-based data

    - 확장에 유리함
    - 데이터 명세가 약하다.

#### Row-Based Vs Column-Based

- 데이터 저장 방식?
    - Row-based :
    - Column-based : **Attribute**에 해당하는 정보를 추출해내고 싶을 때 통계내기 좋기에 자주 활용함. -> 거시적 관점의 데이터 추출에 용이

---
## SQL 종류

![Alt text](image.png)

### DML
- SELECT
- INSERT
- UPDATE
- DELETE

### SELECT 
데이터 조회하기

In [ ]:
SELECT * FROM my_table 
WHERE age <25

### INSERT
데이터 삽입 : 해당 열에 해당 값들을 추가

In [ ]:
INSERT INTO my_table(no_emp, nm_kor, age)
VALUES('dz000','홍길동',20);

### UPDATE
데이터 수정

In [ ]:
UPDATE my_table 
SET quantity = 10 
WHERE item = '3041040';

### DELETE
데이터 삭제 

- 예제 : my_table에서 company열의 해당 값을 가지는 행과, item값이 해당하면 지워라

In [ ]:
DELETE FROM my_table
WHERE company='3020' AND item IN ('1424','1244','1434');